In [1]:
import pandas as pd

In [2]:
#let's use panda to further clean the data to be safe
df = pd.read_csv('C:/Users/Anuz/OneDrive/Desktop/excel work/The_final_ready_Nepali_financial_data_csv.csv')
df = df.drop_duplicates(subset='Concatenated Paragraphs')

In [3]:
#handling missing values
missing_values = df.isnull().sum()
df = df.dropna(subset=['Concatenated Paragraphs'])

In [4]:
df = df[['Concatenated Paragraphs']]

In [5]:
#since i suspect there are some rows in the dataset table which contains repeated sentences so 
#eliminating those rows 
def has_repeated_sentences(text):
    sentences = text.split('।')
    #checking for duplicates
    return len(sentences) != len(set(sentences))
    #removing those rows
    df[~df['Concatenated Paragraphs'].apply(has_repeated_sentences)]

In [6]:
#result of data cleaning
print("Cleaned Dataframe:")
print(df)

Cleaned Dataframe:
                                Concatenated Paragraphs
0     काठमाडौँ । ग्लोबल आइएमई बैंक लिमिटेड र महालक्ष...
1     काठमाडौँ l सिद्धार्थ बैंक लिमिटेडले प्रधानमन्त...
2     काठमाडौं l नेपालको पहिलो बैंक, नेपाल बैंक लिमि...
3     हालका वर्षहरूमा नेपालमा अनलाइन वित्तीय ठगीका घ...
4     रतन टाटाले गरेका थिए डुबेका कम्पनी किन्ने साहस...
...                                                 ...
8635  बैंकहरूमा लगभग २ खर्ब हाराहारी लगानी योग्य पुँ...
8636  जीवन बीमा कम्पनीहरुले लघु जीवन बीमालेख बिक्री ...
8637  जनकपुरधाम, जेठ १९ गते । आन्तरिक मिलेमतोमा नक्क...
8638  पोखरा l ग्रीन डेभलपमेन्ट बैँकले पोखरा महानगरपा...
8639  काठमाडौं । घोराही सिमेन्ट इन्डष्ट्रीले साधारण ...

[8639 rows x 1 columns]

In [7]:
#Text normalization 
df['Concatenated Paragraphs'] = df['Concatenated Paragraphs'].str.lower()

In [8]:
#removing punctuation 
import string
df['Concatenated Paragraphs'] = df['Concatenated Paragraphs'].str.translate(str.maketrans('','',string.punctuation))

In [10]:
#Removing the stopwords
nepali_stop_words = set([
    'अक्सर', 'अगाडि', 'अझै', 'अनुसार', 'अन्तर्गत', 'अन्य',
    'अन्यत्र', 'अन्यथा', 'अब', 'अरू', 'अरूलाई', 'अर्को',
    'अर्थात', 'अर्थात्', 'अलग', 'आए', 'आजको', 'आठ',
    'आत्म', 'आदि', 'आफू', 'आफूलाई', 'आफैलाई',
    'आफ्नै', 'आफ्नो', 'आयो', 'उदाहरण', 'उन',
    'उनको', 'उनले', 'उप', 'उहाँलाई', 'एउटै',
    'एक', 'एकदम', 'औं', 'कतै', 'कम से कम',
    'कसरी', 'कसै', 'कसैले', 'कहाँबाट',
    'कहिलेकाहीं', 'कहिल्यै', 'कहीं',
    'का', 'कि', 'किन',
    'किनभने', 'कुनै',
    'कुरा','कृपया','के','केहि','केही','को','कोही',
    'क्रमशः','गए','गरि','गरी','गरेका','गरेको','गरेर',
    'गरौं','गर्छ','गर्छु','गर्दै','गर्न','गर्नु',
    'गर्नुपर्छ','गर्ने','गर्यौं','गैर','चाँडै',
    'चार','चाले','चाहनुहुन्छ','चाहन्छु','चाहिए',
    'छ','छन्','छु','छैन','छौँ',
    'छौं','जताततै','जब','जबकि',
    'जसको','जसबाट','जसमा','जसलाई',
    'जसले','जस्तै','जस्तो','जस्तोसुकै',
    'जहाँ','जान','जाहिर',
    'जुन','जे','जो',
    'ठीक','त',
    'तत्काल','तथा',
    'तदनुसार','तपाइँको',
    'तपाईं','तर',
    'तल','तापनि',
    'तिनी','तिनीहरू',
    'तिनीहरूको','तिनीहरूलाई',
    'तिनीहरूले',
    'तिमी','तिर',
    'ती','तीन',
    'तुरुन्तै',
    'तेस्रो',
    "त्यसकारण", "त्यसपछि", "त्यसमा", "त्यसैले", "त्यहाँ", 
    "त्यो", "थिए", "थिएन", "थिएनन्", "थियो", 
    "दिए", "दिनुभएको", "दिनुहुन्छ", "दुई", "देख", 
    "देखि", "देखिन्छ", "देखियो", "देखे", "देखेको",
    "देखेर", "देख्न", "दोश्रो", "दोस्रो", "धेरै",
     "न","नजिकै","नत्र","नयाँ","नि",
     "निम्ति","निम्न","निम्नानुसार","निर्दिष्ट","नै",
     "नौ","पक्का","पक्कै","पछि","पछिल्लो",
     "पटक","पनि","पर्छ","पर्थ्यो","पर्याप्त",
     "पहिले","पहिलो","पहिल्यै","पाँच","पाँचौं",
     "पूर्व","प्रति","प्रत्येक","प्लस","फेरि",
     "बने","बन्द","बन्न","बरु","बाटो",
     "बारे","बाहिर","बाहेक","बीच","बीचमा",
     "भए","भएको","भन","भने",
     "भने्","भन्छन्","भन्छु",
     "भन्दा","भन्नुभयो",
     "भन्ने","भर",
     "भित्र","भित्री",
     "म","मलाई",
     "मा","मात्र",
     "माथि","मुख्य",
     "मेरो","यति",
     "यथोचित","यदि",
     "यद्यपि","यस",
     "यसको","यसपछि",
     "यसबाहेक","यसरी",
     "यसो","यस्तो",
     "यहाँ","यहाँसम्म",
     "या","यी",
     "यो","र",
     "रही","रहेका",
     "रहेको","राखे",
     "राख्छ","राम्रो"
])

In [11]:
def remove_stop_words(text):
    tokens = text.split()
    return ' '.join([word for word in tokens if word not in nepali_stop_words])

df['Concatenated Paragraphs'] = df['Concatenated Paragraphs'].apply(remove_stop_words)

print("Dataframe after the stop word removal:")
print(df.head())

Dataframe after the stop word removal:
                             Concatenated Paragraphs
0  काठमाडौँ । ग्लोबल आइएमई बैंक लिमिटेड महालक्ष्म...
1  काठमाडौँ l सिद्धार्थ बैंक लिमिटेडले प्रधानमन्त...
2  काठमाडौं l नेपालको बैंक नेपाल बैंक लिमिटेड समा...
3  हालका वर्षहरूमा नेपालमा अनलाइन वित्तीय ठगीका घ...
4  रतन टाटाले डुबेका कम्पनी किन्ने साहसिक निर्णय ...

In [13]:
#tokenization 
def tokenize_text(text):
    tokens = text.split()
    return tokens
df['tokenized_text'] = df['Concatenated Paragraphs'].apply(tokenize_text)

print("Dataframe after tokenization:")
print(df[['Concatenated Paragraphs', 'tokenized_text']].head())

df.to_csv('C:/Users/Anuz/OneDrive/Desktop/excel work/Tokenized_dataset.csv', index=False)

Dataframe after tokenization:
                             Concatenated Paragraphs  \
0  काठमाडौँ । ग्लोबल आइएमई बैंक लिमिटेड महालक्ष्म...
1  काठमाडौँ l सिद्धार्थ बैंक लिमिटेडले प्रधानमन्त...
2  काठमाडौं l नेपालको बैंक नेपाल बैंक लिमिटेड समा...
3  हालका वर्षहरूमा नेपालमा अनलाइन वित्तीय ठगीका घ...
4  रतन टाटाले डुबेका कम्पनी किन्ने साहसिक निर्णय ...

                                      tokenized_text
0  [काठमाडौँ, ।, ग्लोबल, आइएमई, बैंक, लिमिटेड, मह...
1  [काठमाडौँ, l, सिद्धार्थ, बैंक, लिमिटेडले, प्रध...
2  [काठमाडौं, l, नेपालको, बैंक, नेपाल, बैंक, लिमि...
3  [हालका, वर्षहरूमा, नेपालमा, अनलाइन, वित्तीय, ठ...
4  [रतन, टाटाले, डुबेका, कम्पनी, किन्ने, साहसिक, ...